<html lang="en" class="desktop-view not-mobile-device text-size-larger no-touch discourse-no-touch whos-online-ring" style="--header-offset: 72px; --header-top: 0px;"><head>
<head>
<meta charset="utf-8">
<title>Auroville Community</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes, viewport-fit=cover">
  <meta name="discourse_theme_id" content="24">
<meta name="theme-color" content="#ffffff">

  <link rel="icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/e19c6cc451859e849a6ea8fe5bc4bcceeff054f7_2_32x32.png">
  <link rel="apple-touch-icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599_2_180x180.jpeg">

<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="FLCXHv6yWP2DIr4HnTJZs-V57Ih2JWhrm2viaj0CeQiW9ufJLNEDplBdVFdYZzg_XZSQiDYvJsmA1y69dzrpbg">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer="defer"></script>
<link href="/stylesheets/landing_page_7257e21f023ea08f9ea2d375b9a57863062e8a73.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="landing_page">

  <link href="/stylesheets/color_definitions_fkb-pro-light_18_24_c9299c48df2ff9a2a8bd582d4457f614e44fdf78.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" class="light-scheme"><link href="/stylesheets/color_definitions_aurotheme-dark_23_24_a1271014f9d060382b222a7384a7e85f96995a0e.css?__ws=aurovillenetwork.org" media="(prefers-color-scheme: dark)" rel="stylesheet" class="dark-scheme">
  <link href="/stylesheets/desktop_theme_23_1a1ba1012e4b302bedd5d0134ea8a5233f25f66d.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="23" data-theme-name="dark-light toggle">
<link href="/stylesheets/desktop_theme_13_5c50f81c9797b571af359ffd4c8d5a76de0a641f.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="13" data-theme-name="discotoc">
<link href="/stylesheets/desktop_theme_2_0208f5df01da567f10eca7f70a4a888dbcfe8179.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="2" data-theme-name="easy responsive footer">
<link href="/stylesheets/desktop_theme_11_34eb1a8d46384113f4952ebfe85d93ab4bc51b95.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="11" data-theme-name="header search">
<link href="/stylesheets/desktop_theme_24_a704717a46585bdb3e6bfae059b1a3609682de7f.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop_theme" data-theme-id="24" data-theme-name="fkb pro custom">
  
<style id="hashtag-css-generator">.hashtag-category-badge { background-color: var(--primary-medium); }
.hashtag-color--category-1 { background-color: #0088CC; }
.hashtag-color--category-3 { background-color: #8C6238; }
.hashtag-color--category-4 { background-color: #12A89D; }
.hashtag-color--category-5 { background-color: #25AAE2; }
.hashtag-color--category-6 { background-color: #ad09c3; }
.hashtag-color--category-7 { background-color: #00ccc9; }
.hashtag-color--category-9 { background-color: #0088CC; }
.hashtag-color--category-10 { background: linear-gradient(-90deg, #9EB83B 50%, #0088CC 50%); }
.hashtag-color--category-11 { background: linear-gradient(-90deg, #652D90 50%, #00ccc9 50%); }
.hashtag-color--category-13 { background-color: #F7941D; }
.hashtag-color--category-12 { background: linear-gradient(-90deg, #3AB54A 50%, #ad09c3 50%); }
.hashtag-color--category-14 { background-color: #279171; }
.hashtag-color--category-16 { background: linear-gradient(-90deg, #92278F 50%, #0088CC 50%); }
.hashtag-color--category-17 { background: linear-gradient(-90deg, #00cc3d 50%, #0088CC 50%); }
.hashtag-color--category-18 { background-color: #d419e1; }
.hashtag-color--category-19 { background: linear-gradient(-90deg, #AD09C3 50%, #d419e1 50%); }
.hashtag-color--category-20 { background: linear-gradient(-90deg, #279171 50%, #d419e1 50%); }
.hashtag-color--category-21 { background-color: #0E76BD; }
.hashtag-color--category-22 { background: linear-gradient(-90deg, #808281 50%, #0088CC 50%); }
.hashtag-color--category-23 { background-color: #13d89d; }
.hashtag-color--category-24 { background-color: #12A89D; }
.hashtag-color--category-26 { background: linear-gradient(-90deg, #0088CC 50%, #F7941D 50%); }
.hashtag-color--category-25 { background-color: #3AB54A; }
.hashtag-color--category-27 { background-color: #279171; }
.hashtag-color--category-28 { background-color: #ffbf70; }
.hashtag-color--category-29 { background-color: #F1592A; }
.hashtag-color--category-30 { background-color: #0088CC; }
.hashtag-color--category-31 { background-color: #0088CC; }
.hashtag-color--category-32 { background-color: #FFBF70; }</style><script src="/svg-sprite/aurovillenetwork.org/svg-24-7bf0b3f7f0216fa55292bc22b844324f93be65ff.js"></script></head>