<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% topic_list(list_opts: { order: 'date', category: 'announcements', no_definitions: true }, opts: { instance_var: "announcements"}) %>
      <ul style="list-style-type: none; padding: 0;">
        <% @announcements.each do |article| %>
          <li style="display: flex; margin:10px">
            <a href="<%= article.url %>" class="item" target="_blank">
              <div class="item-title">
                <%= short_date(article.created_at) %><br>
                <%= emoji_codes_to_img(article.fancy_title) %>
              </div>
              <% if article.image_url.present? %>
                <div class="item-image">
                  <img src="<%= article.image_url %>" />
                </div>
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
