<div class="mysite one">
  <div class="standard-height">
    <div class="block" style="background-color: white;"></div>
  </div>
  <div class="standard-height">
    <div class="block" style="background-color: white;">
      <div class="block" style="background-color: #f0f0f0;"></div>
    </div>
  </div>
  <div class="standard-height">
    <div class="block" style="background-color: white;">
      <div class="block" style="background-color: #f0f0f0;"></div>
    </div>
  </div>
  <div class="standard-height">
    <div class="block" style="background-color: white;"></div>
  </div>
  <div class="standard-height">
    <div class="block" style="background-color: white;"></div>
  </div>
</div>