<div class="simple-container">
  <div class="header">
    <h1>Welcome to My Site</h1>
  </div>
  <div class="content">
    <p>This is a simpler version of the previous layout.</p>
  </div>
  <div class="footer">
    <p>&copy; 2023 My Site</p>
  </div>
</div>