<head>
    <meta charset="utf-8">
    <title>Auroville Community - Where dreams meet reality</title>
    <meta name="description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">
    <meta name="discourse_theme_id" content="24">
    <meta name="discourse_current_homepage" content="latest">

    <meta name="generator" content="Discourse 3.4.0.beta2-dev - https://github.com/discourse/discourse version a1e5796ba162b68d81b8fd80765b7b8b6364c9ab">
<link rel="icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/e19c6cc451859e849a6ea8fe5bc4bcceeff054f7_2_32x32.png">
<link rel="apple-touch-icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599_2_180x180.jpeg">
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2e2e2e">

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes, viewport-fit=cover">
<link rel="canonical" href="https://aurovillenetwork.org/">
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://aurovillenetwork.org","name":"Auroville Community","potentialAction":{"@type":"SearchAction","target":"https://aurovillenetwork.org/search?q={search_term_string}","query-input":"required name=search_term_string"}}</script>
<link rel="search" type="application/opensearchdescription+xml" href="https://aurovillenetwork.org/opensearch.xml" title="Auroville Community Search">

    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="VsauUQWtXv-NTY9oKB4_ymCiZmWnAvNDYxEswe0SqL7UgN6G184FpF4yZTjtS15G2E8aZecIveF4reAWpyo42A">

      <meta name="fragment" content="!">


    

    <link rel="preload" href="/assets/start-discourse-9f921142b762fb91207051d0a28e571b9455bab74e7d0e03726024c286cff8d5.js" as="script" nonce="96XJZo9AKIx4XLyxZXDz2dCBq">
    <link rel="preload" href="/assets/browser-update-6f90b23ab8d8bbdca5b58f8c616b7779f50c1315575c80eacccbc30e8bb3c32e.js" as="script" nonce="96XJZo9AKIx4XLyxZXDz2dCBq">

    <script defer="" src="/assets/browser-detect-99f42f91bffa8ca1606d62b70bb92f981d83921e78ccdbd3d9538f07007f27ac.js" data-discourse-entrypoint="browser-detect" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>


    <script defer="" src="/assets/vendor.d3163860318024d1a45415fcf58dbe4b-f6a0e31af09bc94252ffd2005ded43e70ee5ea44cbc0d90b36967a66fdf76b72.js" data-discourse-entrypoint="vendor" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

    <script defer="" src="/assets/chunk.9d2dfa3b2a83497a2fab.d41d8cd9.js" data-discourse-entrypoint="discourse" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/assets/chunk.57052e028a2a710d2df8.d41d8cd9.js" data-discourse-entrypoint="discourse" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/chat-75d888f8cb521e758a469bf832326642f14b089400ec00df4e38b2570fe5fc8f.js" data-discourse-entrypoint="plugins/chat" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/chat_admin-b45ae784a7b611aa8495319d484e6530d12044c873f7fc9dd72bd9e84ff06bdd.js" data-discourse-entrypoint="plugins/chat_admin" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/checklist-48229befcefff057fe27509100acef005461f4af616cf844ffd4392e10db6236.js" data-discourse-entrypoint="plugins/checklist" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-ai-topic-summary-b315e7e4c4c8870e56408399f05efed2c5ff9039a52d3ee67d43cebfbdf29bf8.js" data-discourse-entrypoint="plugins/discourse-ai-topic-summary" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-ai-9e093d1879f3fad5186a60ea1bd6fbe69c6f4d67fda3e1868d336fa51ec3a226.js" data-discourse-entrypoint="plugins/discourse-ai" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-ai_admin-d2386e9ffdfeff33ec6442a608e1e698e7d2d1c5e7269a21238515a9e41e0f95.js" data-discourse-entrypoint="plugins/discourse-ai_admin" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-details-48148ec534a4c5e9614302186b345123ba1358787c41bc31cbd17231f794fe42.js" data-discourse-entrypoint="plugins/discourse-details" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-landing-pages-8764b7045838c4f16f145cafb6880bf3cb422a9e2b82c3d82467dc8ced32d187.js" data-discourse-entrypoint="plugins/discourse-landing-pages" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-lazy-videos-da6a701d09603c2e1bf81930868aa84af4b9fb58607f1dc8b88dfeb8ed6127f2.js" data-discourse-entrypoint="plugins/discourse-lazy-videos" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-local-dates-508f34e4c906329b9d84609309e5e1f86c721c36d67f58edf00920eaab24843d.js" data-discourse-entrypoint="plugins/discourse-local-dates" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-presence-59f1eb3b67f450bc1ab9ad9e19faa8f7deb921f1e87e929363de0ea6729002ef.js" data-discourse-entrypoint="plugins/discourse-presence" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/discourse-whos-online-8875bba3ae64075353d97607f04761ae8df94e30e086c7cd1a36a7b6c96d55f3.js" data-discourse-entrypoint="plugins/discourse-whos-online" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/docker_manager_admin-f888b3617b7f892ef01d105d0d36d5e2784ea2be973f9885883db0da9a0d1924.js" data-discourse-entrypoint="plugins/docker_manager_admin" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/plugins/poll-0685db12a8fa9fd3cb4bfaa1cb13e335926daa58cddde4c9de693018f73cf04c.js" data-discourse-entrypoint="plugins/poll" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>


    <script defer="" src="/assets/locales/en-0a0fe09d0f3561bd10917403bb9020191d31793e2d6f0db71120fcb2fec56da6.js" data-discourse-entrypoint="locales/en" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

    <script defer="" src="/extra-locales/mf?v=efbabc019dbee3409fd2ed7c0497bca2" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>


      <script defer="" src="/extra-locales/admin?v=2d339113eb638cb005d53164abbb011b" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/assets/admin-b536f9ad118e92102341382e8a769ec063853f4eb01274a0bd221e5bebf8071e.js" data-discourse-entrypoint="admin" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>


      <script defer="" src="/extra-locales/wizard?v=3f01c1ba4ca92c6d988a708eb22fa69a" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>


      <script defer="" src="/theme-javascripts/cc66a659855eb32497b11cf3f69f4f8c486a5b25.js?__ws=aurovillenetwork.org" data-theme-id="24" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/26d1f889d01b66daa09cdce7a96df88a35a42c1f.js?__ws=aurovillenetwork.org" data-theme-id="2" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/198850cd9cc0b65258dfcd18ca40b8193397415d.js?__ws=aurovillenetwork.org" data-theme-id="13" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/47335e7af6f42432143dfdaf0c44f8a937ec9665.js?__ws=aurovillenetwork.org" data-theme-id="23" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      <script defer="" src="/theme-javascripts/743d5b9fc6a97cec3b0a9ee6486090b01f43069c.js?__ws=aurovillenetwork.org" data-theme-id="24" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/e86057b47b1d7ece733d2f2eca15277ea44a32de.js?__ws=aurovillenetwork.org" data-theme-id="2" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/caa77fae8c4a661e5146b5a5d5f69d5c2dce4c15.js?__ws=aurovillenetwork.org" data-theme-id="11" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/4b612f65ae50cfb09b4692ab113c965c1a8b3cbe.js?__ws=aurovillenetwork.org" data-theme-id="13" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/1eb7585c0c5f89300fc39dd4d1a2c1b7cce1c8e6.js?__ws=aurovillenetwork.org" data-theme-id="23" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

<script defer="" src="/theme-javascripts/10c5488bd9b49e7c64c0b09c55a94578e0d3ac30.js?__ws=aurovillenetwork.org" data-theme-id="27" nonce="96XJZo9AKIx4XLyxZXDz2dCBq"></script>

      

    
    
    <link id="manifest-link" rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">


        <link rel="alternate" type="application/rss+xml" title="Latest posts" href="https://aurovillenetwork.org/posts.rss">
    <link rel="alternate" type="application/rss+xml" title="Latest topics" href="https://aurovillenetwork.org/latest.rss">
    <meta property="og:site_name" content="Auroville Community">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://aurovillenetwork.org/uploads/default/original/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599.jpeg">
<meta property="og:image" content="https://aurovillenetwork.org/uploads/default/original/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599.jpeg">
<meta property="og:url" content="https://aurovillenetwork.org/">
<meta name="twitter:url" content="https://aurovillenetwork.org/">
<meta property="og:title" content="Auroville Community - Where dreams meet reality">
<meta name="twitter:title" content="Auroville Community - Where dreams meet reality">
<meta property="og:description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">
<meta name="twitter:description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">


    

    <meta id="data-discourse-setup" data-base-url="https://aurovillenetwork.org" data-base-uri="" data-environment="production" data-letter-avatar-version="5_a5c1c9b692edbc9bff5e166edb3d5c0f" data-service-worker-url="service-worker.js" data-default-locale="en" data-asset-version="b9f15a6ed96eb3badbeefe9e351ffb31" data-disable-custom-css="false" data-highlight-js-path="/highlight-js/aurovillenetwork.org/9797975efac87d28baa695ae13ca72ccaf5120f5.js" data-svg-sprite-path="/svg-sprite/aurovillenetwork.org/svg-24-32178f9c7628f004db84d1fdae026763673f5247.js" data-enable-js-error-reporting="true" data-color-scheme-is-dark="false" data-user-color-scheme-id="18" data-user-dark-scheme-id="23">

    <meta name="discourse/config/environment" content="%7B%22modulePrefix%22%3A%22discourse%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22%22%2C%22locationType%22%3A%22history%22%2C%22historySupportMiddleware%22%3Afalse%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%2C%22String%22%3Afalse%7D%2C%22_APPLICATION_TEMPLATE_WRAPPER%22%3Afalse%2C%22_DEFAULT_ASYNC_OBSERVERS%22%3Atrue%2C%22_JQUERY_INTEGRATION%22%3Atrue%7D%2C%22APP%22%3A%7B%22name%22%3A%22discourse%22%2C%22version%22%3A%223.4.0.beta2-dev%20a1e5796ba162b68d81b8fd80765b7b8b6364c9ab%22%2C%22exportApplicationGlobal%22%3Atrue%7D%7D">
  <style id="hashtag-css-generator">.hashtag-category-badge { background-color: var(--primary-medium); }
.hashtag-color--category-1 { background-color: #0088CC; }
.hashtag-color--category-3 { background-color: #8C6238; }
.hashtag-color--category-4 { background-color: #12A89D; }
.hashtag-color--category-5 { background-color: #25AAE2; }
.hashtag-color--category-6 { background-color: #ad09c3; }
.hashtag-color--category-7 { background-color: #00ccc9; }
.hashtag-color--category-9 { background-color: #0088CC; }
.hashtag-color--category-10 { background: linear-gradient(-90deg, #9EB83B 50%, #0088CC 50%); }
.hashtag-color--category-11 { background: linear-gradient(-90deg, #652D90 50%, #00ccc9 50%); }
.hashtag-color--category-13 { background-color: #F7941D; }
.hashtag-color--category-12 { background: linear-gradient(-90deg, #3AB54A 50%, #ad09c3 50%); }
.hashtag-color--category-14 { background-color: #279171; }
.hashtag-color--category-16 { background: linear-gradient(-90deg, #92278F 50%, #0088CC 50%); }
.hashtag-color--category-17 { background: linear-gradient(-90deg, #00cc3d 50%, #0088CC 50%); }
.hashtag-color--category-18 { background-color: #d419e1; }
.hashtag-color--category-19 { background: linear-gradient(-90deg, #AD09C3 50%, #d419e1 50%); }
.hashtag-color--category-20 { background: linear-gradient(-90deg, #279171 50%, #d419e1 50%); }
.hashtag-color--category-21 { background-color: #0E76BD; }
.hashtag-color--category-22 { background: linear-gradient(-90deg, #808281 50%, #0088CC 50%); }
.hashtag-color--category-23 { background-color: #13d89d; }
.hashtag-color--category-24 { background-color: #12A89D; }
.hashtag-color--category-26 { background: linear-gradient(-90deg, #0088CC 50%, #F7941D 50%); }
.hashtag-color--category-25 { background-color: #3AB54A; }
.hashtag-color--category-27 { background-color: #279171; }
.hashtag-color--category-28 { background-color: #ffbf70; }
.hashtag-color--category-29 { background-color: #F1592A; }
.hashtag-color--category-30 { background-color: #0088CC; }
.hashtag-color--category-31 { background-color: #0088CC; }
.hashtag-color--category-32 { background-color: #FFBF70; }</style><script src="/svg-sprite/aurovillenetwork.org/svg-24-32178f9c7628f004db84d1fdae026763673f5247.js"></script></head>
<body>
<header class="d-header">
      <div class="wrap">
        
    <div class="contents">
      <!---->
          
    <span class="header-sidebar-toggle">
      <button title="Sidebar" class="btn btn-flat btn-sidebar-toggle no-text btn-icon narrow-desktop" aria-expanded="false" aria-controls="d-sidebar">
        <svg class="fa d-icon d-icon-bars svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#bars"></use></svg>
      </button>
    </span>
  

      <div class="home-logo-wrapper-outlet">
        <!---->
      
          
    
      <div class="title">
        <a href="/">
          
            
    
    <picture>
      <source srcset="https://aurovillenetwork.org/uploads/default/original/1X/99e32f00cb6f0520758dd2efd953b3628be0efe3.png" media="(prefers-color-scheme: dark)">
      <img id="site-logo" class="logo-big" src="https://aurovillenetwork.org/uploads/default/original/1X/0d62d421d6367de3b68b8ba705742cb21d604daa.png" alt="Auroville Community">
    </picture>


          
        </a>
      </div>
    
  
        
  <!---->
      </div>

<!---->
      <div class="before-header-panel-outlet">
        <!---->  
  <div class="floating-search-input-wrapper">
    <div class="floating-search-input">
      <div class="search-banner">
        <div class="search-banner-inner wrap">
          <div class="search-menu">
            
    
    <a href="/search?expanded=true" class="btn no-text btn-icon btn search-icon" title="Open advanced search">
<svg class="fa d-icon d-icon-search svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#magnifying-glass"></use></svg>      ​

    </a>
  
  
            <div class="search-menu-container menu-panel-results">
  <div class="search-input">
<!---->
    <!---->

    <input id="search-term" autocomplete="off" placeholder="Search" aria-label="Search" type="search">

      <div class="searching">
        <!---->
<!---->  <!----><!---->
<!---->        
    
          <button class="btn no-text btn-icon show-advanced-search" title="Open advanced search" type="button">
<svg class="fa d-icon d-icon-sliders svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#sliders"></use></svg>      ​

    </button>
        
  
      </div>
  </div>

<!----></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!---->
      </div>
      <div class="panel" role="navigation">
          <span class="header-buttons">
<!---->          </span>

            
    <ul class="icons d-header-icons">
          
    <li class="header-dropdown-toggle chat-header-icon">
      
    <a href="/chat" class="btn no-text icon btn-flat" tabindex="0" title="Chat">
<!----><!----><svg class="fa d-icon d-icon-d-chat svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#comment"></use></svg>          
<!---->  
      
    </a>
  
    </li>
  
                  
      <li>
        
    
          <button class="btn no-text btn-icon ai-bot-button icon btn-flat" title="Start a PM with an AI bot" type="button">
<svg class="fa d-icon d-icon-robot svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#robot"></use></svg>      ​

    </button>
        
  
      </li>
  
                    
    <li class="search-dropdown header-dropdown-toggle">
      
    
          <button class="btn no-text btn-icon icon btn-flat" id="search-button" title="Search" aria-label="Search" aria-haspopup="true" type="button">
<svg class="fa d-icon d-icon-magnifying-glass svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#magnifying-glass"></use></svg>      ​

    </button>
        
  

    </li>
  
<!---->            
    <li id="current-user" class="header-dropdown-toggle current-user user-menu-panel">
      <!---->
      <button id="toggle-current-user" class="icon btn-flat" aria-haspopup="true" aria-label="Lucas Aurobrindavan's account">
        
    <!---->
    <img loading="lazy" alt="" width="48" height="48" src="/user_avatar/aurovillenetwork.org/lucas/96/23_2.png" class="avatar" title="profile, messages, bookmarks and preferences">

<!---->
<!---->
<!---->    <!---->
  
      </button>
      <!---->
    </li>
  
    </ul>
  

<!---->
<!---->        </div>
      <div class="after-header-panel-outlet">
        <!---->
      </div>
      <!---->
    </div>
  
      </div>
      <!---->
    </header>

</body>