<div class="mysite one" style="border: 1px solid #000;">
  <div class="standard-height" style="border: 1px solid #000;">
    <div class="block" style="border: 1px solid #000;"></div>
  </div>
  <div class="standard-height" style="border: 1px solid #000;">
    <div class="block" style="border: 1px solid #000;">
      <div class="block" style="border: 1px solid #000;"></div>
    </div>
  </div>
  <div class="standard-height" style="border: 1px solid #000;">
    <div class="block" style="border: 1px solid #000;">
      <div class="block" style="border: 1px solid #000;"></div>
    </div>
  </div>
  <div class="standard-height" style="border: 1px solid #000;">
    <div class="block" style="border: 1px solid #000;"></div>
  </div>
  <div class="standard-height" style="border: 1px solid #000;">
    <div class="block" style="border: 1px solid #000;"></div>
  </div>
</div>
