<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Auroville Community - Where dreams meet reality</title>
    <meta name="description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes, viewport-fit=cover">
    <link rel="canonical" href="https://aurovillenetwork.org/">
    
    <!-- Favicon and Apple Touch Icon -->
    <link rel="icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/e19c6cc451859e849a6ea8fe5bc4bcceeff054f7_2_32x32.png">
    <link rel="apple-touch-icon" type="image/png" href="https://aurovillenetwork.org/uploads/default/optimized/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599_2_180x180.jpeg">
    
    <!-- Open Graph and Twitter Card Metadata -->
    <meta property="og:site_name" content="Auroville Community">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://aurovillenetwork.org/uploads/default/original/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599.jpeg">
    <meta property="og:image" content="https://aurovillenetwork.org/uploads/default/original/1X/60223ad4a4359dc7738d8ac2dc94c8dd4b8f0599.jpeg">
    <meta property="og:url" content="https://aurovillenetwork.org/">
    <meta name="twitter:url" content="https://aurovillenetwork.org/">
    <meta property="og:title" content="Auroville Community - Where dreams meet reality">
    <meta name="twitter:title" content="Auroville Community - Where dreams meet reality">
    <meta property="og:description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">
    <meta name="twitter:description" content="A hub for dreamers and doers alike, all united in pursuit of a harmonious future.">
    
    <!-- Main Stylesheet -->
    <link href="/stylesheets/desktop_7e4c05766191f3ef752965367aa73d4f58f8b5a1.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" data-target="desktop">
    
    <!-- Theme Stylesheets -->
    <link href="/stylesheets/color_definitions_fkb-pro-light_18_24_3a3c03742311efb7a2f0b85003ee86810d4ba419.css?__ws=aurovillenetwork.org" media="all" rel="stylesheet" class="light-scheme">
    <link href="/stylesheets/color_definitions_aurotheme-dark_23_24_d2a6cffefb47d749eeb534ad26fab0ef52b79745.css?__ws=aurovillenetwork.org" media="(prefers-color-scheme: dark)" rel="stylesheet" class="dark-scheme">
</head>
<body>
  <!-- Here is our main header that is used across all the pages of our website -->
  <header>
    <h1>Header</h1>
  </header>
</body>
</html>