<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <h2>Box 1</h2>
        <p>This is the content for box 1.</p>
        <script defer="" src="/assets/plugins/discourse-whos-online-8875bba3ae64075353d97607f04761ae8df94e30e086c7cd1a36a7b6c96d55f3.js" data-discourse-entrypoint="plugins/discourse-whos-online" nonce="mZX8VHJYe0r3RRZKhNemnl3EU"></script>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h2>Box 2</h2>
        <p>This is the content for box 2.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h2>Box 3</h2>
        <p>This is the content for box 3.</p>
      </div>
    </div>
  </div>
</div>
