<div class="mysite one">
  <div class="standard-height">
    <div class="block"></div>
  </div>
  <div class="standard-height">
    <div class="block">
      <div class="block"></div>
    </div>
  </div>
  <div class="standard-height">
    <div class="block">
      <div class="block"></div>
    </div>
  </div>
  <div class="standard-height">
    <div class="block"></div>
  </div>
  <div class="standard-height">
    <div class="block"></div>
  </div>
</div>
